/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0053b3;
  --ifm-color-primary-dark: #003b80;
  --ifm-color-primary-darker: #00234d;
  --ifm-color-primary-darkest: #00234d;
  --ifm-color-primary-light: #006be6;
  --ifm-color-primary-lighter: #b4e1fa;
  --ifm-color-primary-lightest: #b4e1fa;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar__title {
  /* text-decoration: underline  #0053b3 wavy; */
  border-bottom: solid 1.5px  #ebeff3;;
  border-top: solid 1.5px  #ebeff3;
  padding: 0px 5px;
  border-left: solid 4px  #d63626;;
  border-right: solid 4px  #0053b3;
  box-shadow: 1px -2px 2px #8393a7;

  /*   
  overline;
  text-decoration-color: #0053b3;
  text-decoration-style: wavy */
}